button {
    font: inherit;
    border: 1px solid rgb(200, 200, 200);
    background: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
}
button:hover,
button:active {
    background-color: rgb(177, 177, 177);
}
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}